@import url(../style.css);

.section-3-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 10px;
}

.section-3-container p {
    line-height: 30px;
}