@import url(../style.css);

.section-4-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 50px;
}

.section-4-container img {
    width: 38%;
}

.section-4-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-4-text p {
    color: var(--text-secondary);
    line-height: 30px;
}