@import url(../style.css);

.mail-input input {
    font-size: 1rem;
    padding: 0.7rem 0.75rem 0.8rem;
    border-radius: 0.3rem;
    display: block;
    width: 376px;
    max-width: 376px;
    border: 1px solid rgb(223, 225, 230);
    transition: all 250ms ease-out 0s;
}