@import url(../style.css);

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    height: calc(70vh - 60px);
    margin-bottom: 70px;
}

.hero-text h1 {
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 50px;
}

.hero-img img {
    max-width: 350px;    
}

.hero-text{
    width: 60%;
}

.hero-link a {
    padding-left: 10px;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--link-secondary);
}

.hero-link span {
    line-height: 0.8;
    border-bottom: 1px solid var(--link-secondary);
}

.hero-link a svg{
    transition: transform 250ms ease-out 0s;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.hero-link a:hover svg {
    transform: translate3d(3px, 0px, 0px);
}

.mail-input {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}